input{
   padding: 15px;
   margin: 10px 5px;
   border-radius: 10px;
   border: 1px solid gray; 
}
.formInput{
   display: flex;
   flex-direction: column;
   /* align-items: center; */
   width: 300px;
}
label{
   font-size: 18px;
   font-weight: bold;
}
span{
   color: red;
   padding: 3px;
   font-size: 14px;
   display: none;
}

input:invalid[focused="true"]{
   border: 1px solid red;
}
input:invalid[focused="true"] ~ span{
   display: block;
}